@charset "utf-8";
h2 {
    color: white;
}

html,
body,
h1,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif
}

h2 {
    color: #ff6d70;
}

.byttetFarge {
    color: #ff6d70;
}

.byttetBakgrunn {
    background-color: #ff6d70;
}

img {
    margin: 20px;
}